<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal File Upload</title>
	</head>

	<body>
	
		{% if inputs %}
			<ul>
			{% for inputfile in inputs %}
				<li>{{ inputfile.name }}</li>
				<li>{{ inputfile.privacy }}</li>
				<li><a href= "{{ inputfile.input.url }}">{{ inputfile.input.name }}</a></li>
				<li><a href= "{{ inputfile.next_one.url }}">{{inputfile.next_one.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p> Nothing useful </p>
		{% endif %}

		<form action = "{% url "list"  %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}

			<p> <input type="submit" value="Upload" /></p>
		</form>

	</body>

</html>
